# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

.eslintcache

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Large files
public/landing/hero-left.jpg
public/landing/chooseus.jpg
public/industries/Healthcare.jpg
public/industries/vecteezy_a-woman-in-a-business-suit-standing-with-her-arms-crossed_56505159.jpeg
public/services/it-cons.jpg

# Temporary directories
temp_backup/
optimized_images/
